<div class="container editProfile">
    <h1>Editar Perfil</h1>
  	<hr>

  <form id="editProfile_form" method="post" action="" >
	<div class="row">

   <div class="col col-md-3 profilePic">
                <div class="card">
                    <img class="card-img-top" width="100%" src="{{ path('user_photo', {'id': app.user.id}) }}" alt="Imagen de Perfil">
                    <div class="card-block">
                        <h6>Subir una imagen diferente</h6>
                        <input type="file" class="form-control">
                    </div>
                </div>
        </div>
      <div class="col-md-9 personal-info">
        <h3>Información Personal</h3>
          <div class="form-group">
            <label class="col-lg-5 control-label">Nombre:</label>
            <div class="col-lg-11">
              <input class="form-control" type="text" id="name" name="name" maxlength="40" value="{{app.user.name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Apellido:</label>
            <div class="col-lg-11">
              <input class="form-control" type="text" id="lastName" name="lastName" maxlength="40" value="{{app.user.lastname}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Email:</label>
            <div class="col-lg-11">
              <input class="form-control" type="text" id="email" minlength="6" name="email" value="{{app.user.email}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Contraseña:</label>
            <div class="col-lg-11">
              <input class="form-control" id="pass" minlength="6" type="password" name="password" required value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Confirmar Contraseña:</label>
            <div class="col-lg-11">
              <input class="form-control" minlength="6" id="confirmPass" type="password" name="confirmPass" required value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Fecha de Nacimiento:</label>
            <div class="col-lg-11">
              <input class="form-control" type="date" min="1900-01-01" max="{{ "now" |date_modify("-18 year")|date("Y-m-d") }}" name="birthday"  id="birthday" value="{{app.user.birthday|date("Y-m-d")}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Teléfono:</label>
            <div class="col-lg-11">
              <input class="form-control" id="phone" type="tel" name="phone" value="{{app.user.phone}}">
            </div>
          </div>        
          <div class="form-group">
            <label class="col-lg-5 control-label"></label>
            <div class="col-lg-11">
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
              <button type="reset" id="cancelform" class="btn btn-default">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
 