 {% embed 'utils/card.html.twig' with {'title': 'Publicar Gauchada'} %} {% block content %}

<form id="createPublication" method="post" action="{{ path('publish_create') }}" enctype="multipart/form-data">
    <label for="exampleInputEmail1"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp Titulo</label>
    <div class="form-group">
        <div>
            <input type="text" class="form-control" id="title" placeholder="Titulo" name="title">
        </div>
    </div>
    <label for="exampleInputEmail1"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp Descripción</label>
    <div class="form-group">
        <textarea class="form-control" id="description" placeholder="Descripción" name="description"></textarea>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label"><i class="fa fa-hashtag" aria-hidden="true"></i>&nbspCategoria</label>
        <div class="col-xs-5 selectContainer">
            <select name="category" id="category" class="form-control">
                {{ render(controller('PublicationBundle:Category:list')) }}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Ciudad</label>
        <div class="col-xs-5 selectContainer">
            <select name="city" id="city" class="form-control">
                {{ render(controller('PublicationBundle:City:list')) }}
            </select>
        </div>
    </div>
    <label for="exampleInputEmail1"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp Fecha Limite</label>
    <div class="form-group">
        <input type="date" min="{{ " now "|date("Y-m-d ") }}" max="3000-01-01" class="form-control" id="limitDate" placeholder="Fecha Limite"
            name="limitDate">
    </div>
    <label for="exampleInputEmail1"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp Subir Imagen</label>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-secondary btn-file">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i> Buscar… <input type="file" id="imgInp" name="image" accept="image/*">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <img id='img-upload' class="card-img-bottom" />
    </div>
    <div class="container">
        <h5><span class="badge 
            {% if app.user.credits < 1 %}
            badge-danger
            {% else %}
            badge-default 
            {% endif %}
            credits">Creditos Disponibles: {{ app.user.credits }}</span></h5>
        <br>
        <button class="form-group btn btn-lg btn-primary btn-block {% if app.user.credits < 1 %}
            disabled
            {% endif %}" {% if app.user.credits < 1 %} disabled {% endif %} type="submit">Crear</button>
    </div>
</form>


{% endblock %}{% endembed %}