<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ asset('dist/css/main.css') }}"> {% block stylesheets %}{% endblock %}

  <title>Una Gauchada</title>
</head>

<body>

  <header>{% include 'header/navbar.html.twig' %}</header>

  <div class="content">
    {% block body %}{% endblock %}
  </div>
  {% include 'footer/footer.html.twig' %}

  <script src="{{ asset('dist/js/jquery.js') }}"></script>
  <script src="{{ asset('assets/tether/js/tether.min.js') }}"></script>
  <script src="{{ asset('dist/js/bootstrap.js') }}"></script>
  <script src="{{ asset('dist/js/navbar.js') }}"></script>

  {% block javascripts %}{% endblock %}
</body>

</html>