{% extends 'base.html.twig' %} {% block body %}
<div class="container">

    <div class="container carta">    
     <a class="btn btn-primary detalle" style="float: right; margin-right: 15px;" data-toggle="tooltip" data-placement="left" title="Volver al inicio"
               href="{{ path('publication_page') }}"><i class="fa fa-reply" aria-hidden="true"></i></a>
        <h3>&nbsp Reporte de ganancias</h3>
        <hr>
        <div class="row" style="float: right;    margin-right: -16px;
    width: 310px;">
        
      <div style="
    margin: 0 auto;
    width: 80%;
" class=" demo">
<form action="">
    <div class="input-group">
        <input type="text" id="datePicker" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
      </div>
              </form>
</div>
</div>
<br><br>
        <table id="ganancias" class="table table-hover table-bordered text-center" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th  class="text-center">Usuario</th>
                    <th  class="text-center">Fecha</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Ganancia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                                    <td>Franco Borrelli</td>
                    <td  class="text-center">16/07/2017</td>
                    <td  class="text-center">5</td>
                    <td class="text-center">$23</td>
                </tr>
                <tr>
                                    <td>Pedro Brost</td>
                    <td class="text-center">15/07/2017</td>
                    <td class="text-center">3</td>
                    <td class="text-center">$12</td>
                </tr>
                <tr>
                    <td>Lucas Belenda</td>
                    <td class="text-center">16/07/2017</td>
                    <td class="text-center">1</td>
                    <td class="text-center">$11</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td class="text-center">17/07/2017</td>
                    <td class="text-center">2</td>
                    <td class="text-center">$0</td>
                </tr>
                                <tr>
                    <td>Garrett Winters</td>
                    <td class="text-center">18/07/2017</td>
                    <td class="text-center">3</td>
                    <td class="text-center">$0</td>
                </tr>
            </tbody>
             <tfooter>
                    <th class="text-center">19 compras</th>
                    <th class="text-center">2 usuarios</th>
                    <th class="text-center">9 creditos</th>
                    <th class="text-center">$3434</th>
            </tfooter>
        </table>
    </div>
</div>
{% endblock %} {% block javascripts %}
<script src="{{ asset('dist/js/UserReport/table.js') }}"></script>
<script src="{{ asset('dist/js/moment.min.js') }}"></script>
<script src="{{ asset('dist/js/daterangepicker.js') }}"></script>
<script src="{{ asset('dist/js/Credits/picker.js') }}"></script>
<script src="{{ asset('dist/js/Credits/table.js') }}"></script>
<script src="{{ asset('dist/js/UserReport/userReportActive.js') }}"></script>
{% endblock %}