{% import 'utils/modal.html.twig' as modal %} 
{% extends 'base.html.twig' %} {% block stylesheets %}
<link href="{{ asset('assets/select2/css/select2.min.css') }}" rel="stylesheet" /> {% endblock %} {% block body %}

{{ modal.item('Esta a punto de salir sin guardar sus cambios, ¿Está seguro que desea continuar?', 'user_profile') }}

<div class="container publication">
    {% include 'PublicationBundle:EditPublication:form.html.twig' %}
</div>


{% endblock %} {% block javascripts %}
<script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
<script src="{{ asset('dist/js/EditProfile/profilePhoto.js') }}"></script>
<script src="{{ asset('dist/js/EditPublication/editPublicationValidation.js') }}"></script>
<script src="{{ asset('dist/js/Publication/Comments/comment.js') }}"></script>
<script src="{{ asset('dist/js/Publication/Comments/commentsValidation.js') }}"></script>
<script src="{{ asset('assets/select2/js/select2.min.js') }}"></script>
<script src="{{ asset('dist/js/Publication/Publish/createForm.select2.js') }}"></script>
{% endblock %}