<li class="list-group-item" data-status="{% if submission.chosen %}elegido{% elseif submission.waiting %}pendiente{% else %}rechazado{% endif %}">
    <div class="row">
        <div class="col-md-5">
            <img src="{{ path('publication_image', {'id': submission.publication.id}) }}" alt="Lorem ipsum" class="w-100 rounded">
        </div>
        <div class="col-md-7">
            <div class="card-block">
                <h4 class="card-title">{{submission.publication.title}}</h4>
                {% if submission.chosen %} <p class="text-success">Elegido</p> {% elseif submission.waiting %} <p class="text-warning">Pendiente</p> {% else %} <p class="text-danger">Rechazado</p> {% endif %}
                <small>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <span>{{ submission.publication.limitDate | date('d/m/Y') }}</span>
                    <br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<span>{{ submission.publication.department.name | title }}</span>
                    <br>
                    <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;<span>{{ submission.publication.category }}</span>
                    </small>
            </div>
            <a class="btn btn-primary detalle" href="{{ path('publication_show', {'id': submission.publication.id}) }}">Ver Publicación</a></div>
    </div>
</li>