{% macro comment(name, id) %}

<div id="{{id}}" class="escribirComentario" >
    <li class="list-group-item header">
        <h6>{{name}}</h6>
    </li>
    <li class="list-group-item" style="
    background-color: #FAFAFA;
">
        <div class="media">
            <img class="comment d-flex mr-3 rounded" src=" {{ path('user_photo', {'id': app.user.id}) }}" alt="imagen del usuario">
            <div class="media-body">
            <form id="{{"form" ~ id}}" class="commentForm" action="">
                <div class="btn-group pull-right" role="group">
                    <button type="button" id="cancelComment" data-target={{id}} class="cancelComment btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-sm btn-outline-success"><i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
                <h5 class="mt-0">  {{ app.user.name }} {{ app.user.lastName }}
                </h5>
                <textarea name="message" id="message" placeholder="Escriba aquí su comentario..." required></textarea>
            </form>
            </div>
        </div>
    </li>
</div>

{% endmacro %} 

