<div class="card">
    <img class="card-img-top" src="{{ url('publication_image', {'id': publication.id}) }}">
    <div class="card-block">
        <h5 class="card-title">{{ publication.title }}</h5>
        <div class="row">
            <div class="col text-left">
                <div class="row">
                    <div class="col-12">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        <small class="text-muted">{{ publication.limitDate | date("d/m/Y") }}</small>
                    </div>
                    <div class="col-12">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <small class="text-muted">{{ publication.department | title }}</small>
                    </div>
                </div>
            </div>
            <div class="col text-right">
                <a class=" btn btn-primary" href="{{ path('publication_show', {'id': publication.id}) }}">Ver detalle</a>
            </div>
        </div>
    </div>
</div>