{% extends 'base.html.twig' %}

{% block body %}

    <section class="jumbotron text-center gauchadas">
        <div class="container">
            <h1 class="jumbotron-heading">Últimas gauchadas</h1>
        </div>
    </section>


    <div class="container">

        <div class="card-columns publication-list">

            {% for publication in publications %}
                <div class="card">
                    <img class="card-img-top" src="{{ path('publication_image', {'id': publication.id}) }}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{ publication.title }}</h4>
                        <div class= "row">
                        <div class="card-text col">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <small class="text-muted">{{ publication.limitDate | date('d/m/Y') }}</small>
                        </div>
                        <div class="card-text col">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <small class="text-muted"> {{ publication.city }} </small>
                        </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class=" btn btn-primary" href="{{ path('publication_show', {'id': publication.id}) }}">Ver detalle</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Ant</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Sig</a>
    </li>
  </ul>
</nav>

{% endblock %}