{% import 'utils/modal.html.twig' as modal %}
{% import 'PublicationBundle:Publications:createComment.html.twig' as create %}
{% import 'utils/popUpMessage.html.twig' as popUp %}
{% extends 'base.html.twig' %} 

{% block body %}

{{  modal.item('Esta a punto de eliminar esta publicación, ¿Está seguro que desea continuar?') }} 

<div class="container publication">
        {{popUp.success('¡Felicitaciones!','Tu comentario se ha creado exitosamente.')}}
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                {% include 'PublicationBundle:Publications:publicationInfo.html.twig' %} 
                <ul class="list-group list-group-flush">
                    {% if is_granted('comment', publication) %} 
                        {{ create.comment('Agregue su comentario', 'writecomment') }} 
                    {% endif %} 

                    {% include 'PublicationBundle:Publications:comments.html.twig'%}
                </ul>
            </div>
        </div>
        {% include 'PublicationBundle:Publications:profile.html.twig' %}
    </div>
</div>

{% endblock %} 

{% if is_granted('comment', publication) %}
    {% block javascripts %}    
    <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
    <script src="{{ asset('dist/js/Publication/Comments/comment.js') }}"></script>
    <script src="{{ asset('dist/js/Publication/Comments/commentsValidation.js') }}"></script>
    {% endblock %} 
{% endif %}