<div class=" card panel panel-default">
    <div class="panel-heading card-header c-list">
        <span class="title">Postulados</span>
        <ul class="pull-right c-controls">
            <li><a href="#" class="hide-search" data-command="toggle-search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="search" style="display: none;">
        <div class="col-xs-12">
            <div class="input-group c-search">
                <input type="text" placeholder="Ingrese el nombre del postulante" class="form-control" id="contact-list-search">
            </div>
        </div>
    </div>
    <ul class="list-group" id="contact-list">
        {% for submission in publication.submissions %}
            <li class="list-group-item">
                <div class="col-xs-12 col-sm-3">
                    <img src="{{ path('user_photo', {'id': publication.user.id}) }}" alt="Scott Stevens" class="img-responsive img-circle rounded" />
                </div>
                <div class="col-xs-12 col-sm-9">
                    <span class="name">{{ submission.user.name }} {{ submission.user.lastName }}</span><br/>
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp<span class="text-muted">{{ achievement_service.getFor(publication.user) }} </span>
                    <span class="visible-xs"></span>
                    {% if submission.message %}
                        <p>{{ submission.message }}</p>
                    {% endif %}


                    <button class=" btn btn-primary elegir" href="">Elegir</button>

                </div>
                <div class="clearfix"></div>
            </li>
        {% else %}
            {# agregar cartel no postulados #}
        {% endfor %}
    </ul>
</div>