<li class="list-group-item">
    <div class="col-xs-12 col-sm-3">
        <img src="{{ path('user_photo', {'id': submission.user.id}) }}" alt="{{ submission.user.name }} {{ submission.user.lastName }}" class="img-responsive img-circle rounded"/>
    </div>
    <div class="col-xs-12 col-sm-9">
        <span class="name">{{ submission.user.name }} {{ submission.user.lastName }}</span>
        <br>
        <i class="fa {{ achievement_service.getFor(publication.user).iconName }}" aria-hidden="true"></i>&nbsp<span class="text-muted">{{ achievement_service.getFor(submission.user) }} </span>
        <span class="visible-xs"></span> <p>{% if submission.message %}
        "{{ submission.message }}"
        {% endif %}</p> {% if not chosen %}
        <form method="post" action="{{ path('submissions_choose', {'id': publication.id, 'submission': submission.id}) }}">
            <button type="submit" class=" btn btn-primary elegir" href="">Elegir</button>
        </form>
        {% endif %}

    </div>
    <div class="clearfix"></div>
</li>