{% import 'ClientBundle:Publications:publicationItem.html.twig' as publication %}




<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>

    <div id="products" class="row list-group">

        {{ publication.item('Reencontrarme con Ramirez', 'img/logo.png', '#') }}
        {{ publication.item('Reencontrarme con Ramirez', 'img/noimage.png', '#') }}
        {{ publication.item('Reencontrarme con Ramirez', 'http://lorempixel.com/600/337/', '#') }}
        {{ publication.item('Reencontrarme con Ramirez', 'http://lorempixel.com/600/337/', '#') }}
        {{ publication.item('Reencontrarme con Ramirez', 'http://lorempixel.com/600/337/', '#') }}
        {{ publication.item('Reencontrarme con Ramirez', 'http://lorempixel.com/600/337/', '#') }}
        {{ publication.item('Reencontrarme con Ramirez', 'http://lorempixel.com/600/337/', '#') }}
        {{ publication.item('Reencontrarme con Ramirez', 'http://lorempixel.com/600/337/', '#') }}


    </div>
</div>


