<div class="container profile">
        <h1>Información Personal</h1>
        <hr>
<div class="row">        
<div class="col col-md-3 profilePic">
        <div class="card">
          <div>
            <img id="img-upload" src="/user/3/photo" class="card-img-bottom">
          </div>
           <div class="card-block">
            <small><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ achievement_service.getFor(app.user) }} </small>
            <br>
            <small> <i class="fa fa-line-chart" aria-hidden="true"></i> {% if app.user.calification == 1 %} 1 punto {% else %} {{app.user.calification}} puntos {% endif %} </small>
        </div>
        </div>
      </div><div class="col-md-8 container editProfile ">
        <div class="btn-group pull-right" role="group">
                    <a href="{{ path('user_profile_edit') }}" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Editar datos">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
      </div>
  <h1>{{app.user.name}} {{app.user.lastname}}</h1>
  <hr>
    <div class="row">
      <div class="col-md-12 personal-info">
        <div class="form-group">
          <label class="col-lg-5 control-label">Email:</label>
          <div class="col-lg-11">
            <input class="form-control" type="text" value="{{app.user.email}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-5 control-label">Fecha de Nacimiento:</label>
          <div class="col-lg-11">
            <input class="form-control" type="date" value="{{app.user.birthday|date("Y-m-d")}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-5 control-label">Teléfono:</label>
          <div class="col-lg-11">
            <input class="form-control" type="tel" value="{{app.user.phone}}" readonly="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-5 control-label">Creditos disponibles:</label>
          <div class="col-lg-11">
            <input class="form-control" type="tel" value="{{app.user.credits}}" readonly="">
          </div>
        </div>
  </div>
  </div>    
        </div>
    </div>
</div>