{% extends 'base.html.twig' %} {% block body %}
<div class="container profitReport">
    <div class="container carta">
        <a class="btn btn-primary detalle" data-toggle="tooltip" data-placement="left" title="Volver al inicio" href="{{ path('publication_page') }}"><i class="fa fa-reply" aria-hidden="true"></i></a>
        <h3>&nbsp Reporte de ganancias</h3>
        <hr>
        <div class="row uno">
            <div class="demo">
                <form id="dateRanger" action="">
                    <div class="input-group">
                        <input type="text" name="dates" id="datePicker" class="form-control">
                        <span class="input-group-btn">
        <button class="btn btn-secondary" id="btn-searchDate" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
                    </div>
                </form>
            </div>
        </div>
        <br><br> {% include 'CreditBundle:Report:table.html.twig' %}
    </div>
</div>
{% endblock %} {% block javascripts %}
<script src="{{ asset('dist/js/UserReport/table.js') }}"></script>
<script src="{{ asset('dist/js/moment.min.js') }}"></script>
<script src="{{ asset('dist/js/daterangepicker.js') }}"></script>
<script src="{{ asset('dist/js/Credits/pickerPage2.js') }}"></script>
<script src="{{ asset('dist/js/Credits/table.js') }}"></script>
<script src="{{ asset('dist/js/UserReport/userReportActive.js') }}"></script>
{% endblock %}