{% embed "header/dropdown.html.twig" %}
    {% import 'header/navItem.html.twig' as navbar %}

    {% block elements %}

        {{ navbar.dropdownItem('Mi Perfil', 'fa-user-circle' ,'user_profile', 'myProfile') }}

        <div id="profileBar" class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Mis Publicaciones', 'fa-bookmark', 'user_publications', 'myPublications') }}

        <div id="publicationsBar" class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Mis Ayudas', 'fa-users', 'user_submissions', 'mySubmissions') }}

        <div id="submissionsBar" class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Comprar Créditos', 'fa-shopping-cart', 'credits_purchase_amount', 'creditsPurchase') }}

        <div id="creditsBar" class="dropdown-divider"></div>


        {{ navbar.dropdownItem('Ayuda', 'fa-info-circle') }}

    {% endblock %}

{% endembed %}