{% embed "header/dropdown.html.twig" %}
    {% import 'header/navItem.html.twig' as navbar %}

    {% block elements %} 

        {{ navbar.dropdownItem('Reporte de usuarios', 'fa-bar-chart', 'rating_report') }}

        <div class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Reporte de ganancias', 'fa-line-chart', 'profit_report') }}

        <div class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Logros', 'fa-trophy') }}

        <div class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Categorias', 'fa-bookmark') }}

        <div class="dropdown-divider"></div>

        {{ navbar.dropdownItem('Creditos', 'fa-shopping-cart') }}

    {% endblock %}

{% endembed %}